*,
::after,
::before {
  box-sizing: border-box;
}
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap");

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #aac5ee;
  --primary-200: #8db1e8;
  --primary-300: #709de3;
  --primary-400: #538add;
  --primary-500: #3676d7;
  --primary-600: #2e65b8;
  --primary-700: #265499;
  --primary-800: #1f437a;
  --primary-900: #17325b;

  /* grey */
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --headingFont: "Roboto", sans-serif;
  --bodyFont: "Nunito", sans-serif;
  --small-text: 0.875rem;
  /* rest of the vars */
  --backgroundColor: var(--grey-600);
  --textColor: var(--grey-800);
  --borderRadius: 0.25rem;
  --transition: 0.3s ease-in-out all;
  --box-color: var(--grey-900);

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  background-color: var(--primary-900);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-700);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-800);
  box-shadow: var(--shadow-3);
}

/* alerts */
.alert {
  padding: 0.33rem 0.7rem;
  font-size: .9rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
  position: absolute;
  bottom: 43px;
  display: none;
}

.alert.active {
  display: inline-block;
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/* form */
.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

/* title */
.title-underline {
  background: #e78441;
  border-radius: 3px;
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}
/*======================================== end gloval styles */

/* landing page/ intro screen */
main {
  display: grid;
  grid-template-rows: 1fr 50px;
}

.landing-screen {
  min-height: 640px;
  width: 85vw;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr;
  margin: 40px auto;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 1px 5px 10px var(--grey-600);
  z-index: 3;
}

.robot {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./images/robot.gif);
  background-size: 140px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px 0;
  margin-bottom: -30px;
}

/* text box wraper/ box 1-3 parrent */
.text-boxs {
  display: grid;
  align-items:center;
  justify-items: center;
  margin: 2rem 0;
  gap: 10px;
}

.box {
 width: 90%;
 padding: 10px;
 background-color: #eeece2;
 border-radius: var(--borderRadius);
 box-shadow: 2px 5px 10px var(--grey-600);
 transition: 0.5s;
 position: relative;
 visibility: hidden;
}

/* initial load animation */
.box1 {
  animation: speech .7s .1s linear forwards;
}

.box2 {
  animation: speech .7s .5s linear forwards;
}

.box3 {
  width: 60%;
  animation: speech .7s 1.0s linear forwards;
  text-align: center;
}

/* text styling in boxes */
.box1 h3{
  text-align: center;
  margin: auto;
  padding: 7px 0;
}
.box2 h4 {
  font-size: 1.25rem;
  text-transform:inherit;
}
.box2 h5 {
  font-size: .95rem;
  text-transform:inherit;
}

.box3 h5 {
  margin: 0 0 8px 0;
  font-weight: 600;
}

/* pointer to robot on small screen (box 1) */
.box1::after {
  content: ' ';
  position: absolute;
  border: 0.5em solid transparent;
  border-bottom-color: var(--box-color);
  border-right-color: var(--box-color);
  right: 67%;
  bottom: 100%;
  transform-origin: 100% 100%;
}

.start-btn {
  background-color: #f88c3f;
  font-size: 1.2rem;
  letter-spacing: 3px;
  padding: 8px 20px;
  display: block;
  margin: 0 auto;
}
.start-btn:hover {
  background-color: #fc7d29;
}

.clickHere-down-arrow {
  display: inline-block;
  color: var(--grey-700);
}


/* text box initial load animation */
@keyframes speech {
  0% { top: -20px; scale: 0;}
  25% { top: 5px; box-shadow: 3px 10px 15px var(--grey-800);}
  50% { top: 20px;}
  75% { top: -20px; box-shadow: 3px 0px 20px var(--grey-800);}
  100% { top: 0px; scale: 1; visibility: visible;}
}

/* quote */
/* #quote {
  text-align: center;
  margin: 1.7rem auto;
  color: var(--grey-300);
  width: 90vw;
  max-width: 750px;
}

#quote h5{
 margin-bottom: 12px;
 font-size: 1rem;
}

.quote-btn {
  font-weight: lighter;
  margin-bottom: 1rem;
} */

/*================= on bigger screen/ desktop screen */
@media screen and (min-width:930px) {
  .landing-screen {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }
 
  .robot {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
  }

  .text-boxs {
    justify-content: start;
    justify-items:normal;
    grid-template-rows: 200px 150px 200px;
  }
  
  .box1 {
    margin-left: -45px;
    margin-top: .8rem;
    width: 70%;
  }
  
  .box2 {
    margin-left: 20px;
    width: 80%;
  }

  .box2 h5 {
    font-size: 1rem;
  }
  
  .box3 {
    width: 50%;
  }

  /* text box pointers/arrow to robot */
  .box1::after {
    border: 0.5em solid transparent;
    border-top-color: var(--box-color);
    border-right-color: var(--box-color);
    right: 100%;
    bottom: 10px;
    transform: skewY(-50deg);
  }

  .box2::after {
    content: ' ';
    position: absolute;
    border: 0.5em solid transparent;
    border-top-color: var(--box-color);
    border-right-color: var(--box-color);
    right: 100%;
    bottom: 40px;
    transform: skewY(-5deg);
    transform-origin: 100% 100%;
  }

  .box3::after {
    content: ' ';
    position: absolute;
    border: 0.5em solid transparent;
    border-top-color: var(--box-color);
    border-right-color: var(--box-color);
    right: 100%;
    top: 10px;
    transform: skewY(25deg);
    transform-origin: 100% 100%;
  }
}

/* when start button id cliked */
.landing-screen[data-visible="false"] {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: 1s;
  transform: scale(0);
}
.form-screen[data-visible="true"] {
  display: grid;
}

/*================================= form page one */
.form-screen {
  /* min-height: 640px; */
  width: 85vw;
  max-width: 1100px;
  margin: 40px auto;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 1px 5px 10px var(--grey-600);
  display: none;
  grid-template-rows: 1fr 130px;
  position: relative;
  overflow: hidden;
}

.form-1 {
  position: absolute;
  width: 100%;
  transition: 1s;
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px 1fr; 
  margin: 1rem 1rem;
}

.form-1[data-active="false"] {
  transform: translateX(-150%);
  transition: 1s;
}

.form-title {
  grid-row: 1/2;
  grid-column: 1/-1;
  text-align: center;
  margin-top: 1rem;
}

.form-input {
  grid-row: 2/3;
  grid-column: 1/-1;
  display: flex;
  align-items: start;
  margin: 0 auto;
  gap: 4rem;
}

.total-hours-form {
  font-size: 1.1rem;
}

.hours-description {
 position:absolute;
 left: 50%;
 bottom: -150px;
 transform: translate(-50%, 0%);
 margin-bottom: 0;
 height: 50px;
 overflow: hidden;
 transition: all .6s linear;
 text-align: center;
}

.hours-description h6 {
  font-size: .81rem;
  margin: 0;
  color: var(--grey-700);
}

.hours-description:hover {
  height: 112px;
 }

 .up-arrow {
  text-align: center;
 }

/* inside form 1 */
.skill-input {
  width: 70%;
  height: 30px;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
}

.form-label {
  font-size: 1.1rem;
}


.form-1-input form {
  width: 100%;
}

.form-1-input p {
  max-width: 350px;
  font-size: .85rem;
}

.total-hr-label{
  margin: 0 10px 4px 0;
}

/* custom hour input text box */
.custom-hr {
  width: 30%;
  height: 25px;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  margin-left: 10px;
}

/* small screen */
@media screen and (max-width:700px) {

  .form-1-input {
    display: flex;
    flex-direction: column;
  }
  h2 {
    font-size: 2rem;
  }
  .form-input {
    gap: 10px;
  }
  .form-1-input form {
    width: 60vw;
  }
  .hours-description {
    display: none;
  }
  .form-label {
    font-size: .9rem;
  }
  .total-hours-form {
    font-size: .85rem;
  }
  .alert {
    padding: 0.25rem 0.4rem;
    font-size: .8rem;
  }
}

/*=========================================== form page two */
.form-2 {
  position: absolute;
  width: 100%;
  transform: translateX(-150%);
  transition: 1s;
}

.form-2[data-active="true"] {
  transform: translateX(0);
}

.total-days-label {
  margin-right: 6px;
}

.total-hours-label {
  margin-right: 13px;
}

.form-2-input span {
  font-weight: bold;
}

/* form 2 quote */
.form-2-quote {
  position:absolute;
  left: 50%;
  bottom: -200px;
  transform: translate(-50%, 0%);
  text-align: center;
  margin-bottom: 0;
}

.form-2-quote h6 {
  font-size: .8rem;
  color: var(--grey-600);
}

.form-2-quote span {
  font-style: italic;
}

/* small screen */
@media screen and (max-width:700px) {
  
  .form-title h2 {
    font-size: 1.5rem;
  }

  .form-title {
    margin-top: 30px;
  }

  .form-2-input {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .form-2-input form {
    width: 60vw;
  }
  .form-2-input {
    gap: 3rem;
  }
  .form-2-quote {
    bottom: -100px;
    width: 90%;
  }
  .form-2-quote h6 {
    font-size: .7rem;
  }
  .form-2-input {
    font-size: .9rem;
  }
  
}

/*======================================= form page three */
.form-3 {
  position: absolute;
  width: 100%;
  transition: 1s;
  transform: translateX(-150%);
}

.form-3-arrow {
  margin-left: 10px;
}

.form-3[data-active="true"] {
  transform: translateX(0);
}

.form-3-input {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 200px;
}

.form-3-input h5 {
  text-transform:none;
}

.form-3-list-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 160px;
  align-items: center;
  justify-content: start;
  gap: 3.2%;
}
/* small screen */
@media screen and (max-width:1080px) {
  .form-3-list-container {
    overflow: auto;
  }
}

.form-3-input h5 {
  max-width: 850px;
  text-align: center;
  margin: 0 10px;
  padding: 0 1rem;
}

.from-3-list-items {
  display: grid;
  transition: var(--transition);
}

.from-3-list-items:hover {
  filter: brightness(.85);
}

.from-3-list-items p {
  background-color: var(--primary-500);
  color: var(--grey-200);
  font-size: .9rem;
  text-align: center;
  padding: 4px;
  margin: 0;
  width: 90%;
}

.from-3-list-items > img{
  width: 90%;
  height: 11rem;
  /* object-fit: cover; */
}

/* small screen */
@media screen and (max-width:700px) {
  .form-3-input {
    gap: 4rem;
  }
  .from-3-list-items > img{
    height: 9.5rem;
  }
  .form-3-input h5 {
    font-size: .9rem;
    margin-top: 5px;
    padding: 0;
  }
}

/*============================================ form page four */
.form-4 {
  width: 100%;
  transition: 1s;
  transform: translateX(-150%);
}

.form-4[data-active="true"] {
  transform: translateX(0);
}

.form-4-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr; 
  margin: 1rem 1rem;
}

.results-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 64px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}


.calculate-btn {
  margin-top: 10px;
  padding: 7px 40px;
  background-color: #e78441;
}

.calculate-btn:hover {
  background-color: #e08c53;
}

.calculate-btn:disabled {
  background-color: #999;
  cursor: not-allowed;
}


.results-area-1 {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-left: 6rem;
  font-size: 1.2rem;
}

.results-container h5 {
  text-transform: inherit;
}

.results-container span {
  font-size: 1rem;
  text-transform: capitalize;
  padding-left: 1px;
}

.results-container .my-skill {
  font-size: 1.2rem;

}

.results-area-2 {
  grid-row: 1/2;
  grid-column: 2/3;
  text-align: center;
}

.results-area-2 h6 {
  font-size: 1rem;
}

.results-area-3 {
  grid-row: 2/3;
  grid-column: 1/-1;
  text-align: center;
  font-size: 1.3rem;
  padding: 0 1.5rem;
  position: relative;
  margin: 0 auto;
}

.calendar-container {
  margin: 2.8rem auto;
}

.calendar {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  min-height: 140px;
  background-color: var(--grey-300);
  border: solid 2px var(--primary-500);
  margin-bottom: -18px;
  border-radius: var(--borderRadius);
  outline: solid 3px var(--primary-100);
  outline-offset: 4px;
}

.month {
  color: #e78441;
  background-color: var(--grey-200);
  padding: 6px 0;
  box-shadow: var(--shadow-2);
}

.day {
  color: var(--primary-400);
  padding: 1px 0;
  font-size: 4rem;
  text-shadow: 2px 2px 2px var(--grey-600);
}

.year {
  color: #e78441;
  background-color: var(--grey-200);
  padding: 2px 0;
  margin: 0;
  letter-spacing: 3px;
}

.back-to-start {
  background-color: var(--primary-400);
  position: absolute;
  visibility: visible;
  top: 25.6%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back-to-start:disabled {
  visibility: hidden;
}

.back-to-start:disabled:hover {
  background-color: #999;
  cursor: not-allowed;
}

.back-to-start:hover {
  background-color: var(--primary-600);
}

.eta {
  margin-bottom: 10px;
}

/* small screen */
@media screen and (max-width:700px) {
  .results-area-3 {
    font-size: .9rem;
  } 
  .results-area-1 {
    margin-left: 1rem;
    font-size: 1rem;
  }
  .results-area-2 h6 {
    font-size: .72rem;
  }
  .results-container h5 {
    font-size: 1.0rem;
  }
  .calendar-container {
    margin: 2.4rem auto;
  }
  .calendar {
    min-width: 140px;
  }
  .day {
    color: var(--primary-400);
    font-size: 2.7rem;
  }
  .month {
    font-size: .9rem;
  }
  .back-to-start {
    top: 26%;
    transition: .5s;
    padding: 3px 5px;
    margin-top: 7px;
  }
}

/*=================== progress bar and btns */
.progress-btns {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  max-width: 430px;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 22px;
  max-width: 100%;
}

.progress-container::before {
  content: '';
  background-color: var(--grey-300);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
}

.progress {
  background-color: var(--primary-300);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  transition: .4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #e0e0e0;
  transition: .4s ease;
  z-index: 2;
}

.circle.active {
  border-color: var(--primary-300);
}

.progress-btn {
  background-color: var(--primary-700);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
  transition: var(--transition);
  box-shadow: var(--shadow-1);
}

.progress-btn:hover {
  background-color: var(--primary-800);
}

.progress-btn:active {
  transform: scale(0.95);
}

.progress-btn:disabled {
  background-color: #999;
  cursor: not-allowed;
}

/* robot loading gif, when calculate btn is clicked */
.robot-loading-gif {
  background: url(./images/loader.gif);
  width: 380px;
  height: 380px;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: 1/-1;
  grid-column: 1/-1;
  margin: 0 auto;
}

@media screen and (max-width:700px) {
  .robot-loading-gif {
    width: 240px;
    margin: 0 auto;
  }
}
